@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

body {
  padding-top: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --primary: #2a4365;
  --secundary: #30cfd0;
  --yellow: #ffd600;
  --terciary: #2d3748;
  --gray: #f7fafc;
  --shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1),
    0px 0px 6px -2px rgba(0, 0, 0, 0.05);
}

.nav {
  width: 100%;
  background-color: var(--terciary);
  position: fixed;
  top: 0px;
  z-index: 100;
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow);
}

.title {
  color: var(--secundary);
  font-size: 2rem;
  font-family: Poppins;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
  line-height: 130%;
}

.text {
  color: var(--primary);
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 150%;
}

.button {
  background-color: var(--primary);
  border: none;
  color: white;
  font-family: Poppins;
  font-size: 16px;
  height: 40px;
  border-radius: 100px;
  padding: 0 24px 0 24px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.button:hover {
  transform: scale(1.05);
  color: #fff;
}

.button::after {
  content: "";
  position: absolute;
  display: block;
  transform: skewX(15deg);
  top: 0;
  right: -10%;
  width: 0;
  height: 100%;
  background: var(--secundary);
  z-index: -1;
  transition: width 400ms ease-in-out;
}

.button:hover::after {
  left: -10%;
  width: 120%;
}

.footer {
  width: 100%;
  /*  position: absolute; */
  bottom: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-family: Poppins;
}
.social a {
  color: #2a4365;
  margin: 0 10px 10px 10px;
  font-size: 20px;
}

.navigation-section {
  margin-top: 80px !important;
}

div[class$="-section"] {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10em 0 10em;
  margin-top: 150px;
}

.evolution {
  margin: 200px 0 200px 0;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  background-image: url("./Evolutions.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

div[class$="-text"] {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

div[class$="-img"] {
  width: 100%;
}

.profile {
  padding: 20px;
  margin-bottom: 200px;
  width: 100%;
  max-width: 1240px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 32px;
  grid-template-areas:
    "text-info avatar-info avatar-info stats-info"
    "text-info avatar-info avatar-info stats-info";
  justify-content: center;
  align-items: center;
}
.text-info {
  grid-area: text-info;
}
.text-info h2 {
  grid-area: text-info;
  text-align: start;
}
.avatar-info {
  grid-area: avatar-info;
}
.stats-info {
  grid-area: stats-info;
}

.evo {
  height: inherit !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.level {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.evo-image {
  width: 100%;
  max-width: 200px;
  margin-bottom: 2px;
}

.candy-image {
  width: 100%;
  max-height: 30px;
  max-width: 30px;
}

.type-fire {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  border: 0;
  background: #dd2424;
  padding: 2px 6px 2px 6px;
  margin: 4px;
}

.habitat-map {
  width: 100%;
  padding: 50px;
}

.habitat-section,
.evolution-section {
  margin-top: 0 !important;
}

.habitat {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 20%,
    rgba(247, 250, 252, 1) 20%,
    rgba(247, 250, 252, 1) 80%,
    rgba(255, 255, 255, 1) 80%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  margin: 100px 0 150px 0;
  height: 400px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "gallery-img-1 gallery-img-3 gallery-img-3 gallery-img-4 gallery-img-6 gallery-img-7"
    "gallery-img-2 gallery-img-3 gallery-img-3 gallery-img-5 gallery-img-6 gallery-img-8";
}

.gallery-img-1 {
  grid-area: gallery-img-1;
  background-image: url("./salusan_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery-img-2 {
  grid-area: gallery-img-2;
  background-image: url("./salusan_5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery-img-3 {
  grid-area: gallery-img-3;
  background-image: url("./salusan_7.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery-img-4 {
  grid-area: gallery-img-4;
  background-image: url("./salusan_3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery-img-5 {
  grid-area: gallery-img-5;
  background-image: url("./salusan_4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery-img-6 {
  grid-area: gallery-img-6;
  background-image: url("./salusan_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery-img-7 {
  grid-area: gallery-img-7;
  background-image: url("./salusan_6.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery-img-8 {
  grid-area: gallery-img-8;
  background-image: url("./salusan_8.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 1100px) {
  div[class$="-section"] {
    padding: 0 1em 0 1em;
  }

  .info-section {
    flex-direction: column-reverse;
  }
  .habitat-section {
    flex-direction: column-reverse;
    background: linear-gradient(
      0deg,
      rgba(247, 250, 252, 1) 0%,
      rgba(247, 250, 252, 1) 100%
    );
  }
  .inspiration-section {
    flex-direction: column-reverse;
  }

  div[class$="-text"] {
    align-items: center;
  }

  .text-info h2 {
    grid-area: text-info;
    text-align: center;
  }
  .text {
    text-align: center;
  }

  .title {
    font-size: 1.8rem;
    padding-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .profile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "avatar-info"
      "avatar-info"
      "text-info"
      "stats-info";
  }
  .gallery {
    height: 2000px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "gallery-img-1 gallery-img-2"
      "gallery-img-3 gallery-img-3"
      "gallery-img-3 gallery-img-3"
      "gallery-img-4 gallery-img-5"
      "gallery-img-6 gallery-img-6"
      "gallery-img-6 gallery-img-6"
      "gallery-img-6 gallery-img-6"
      "gallery-img-7 gallery-img-8";
  }
}

.weaknesses-info {
  display: flex;
  flex-direction: row;
}
.type-personal {
  display: flex;
  flex-direction: row;
}

.stats-area {
  margin: 16px 0 16px 0;
}
.stat {
  margin: 16px 0 16px 0;
}
.stats-text {
  color: var(--primary);
  font-size: 0.9rem;
  font-family: Poppins;
  font-weight: 300;
  line-height: 130%;
}

.progress-bar {
  background-color: #e5e6ec;
  height: 10px;
  border: 0;
  border-radius: 100px;
}

.progress-hp {
  width: 48%;
  height: 100%;
  background-color: #2d3748;
  border: 0;
  border-radius: 100px;
}
.progress-attk {
  width: 75%;
  height: 100%;
  background-color: #2d3748;
  border: 0;
  border-radius: 100px;
}

.progress-dfs {
  width: 40%;
  height: 100%;
  background-color: #2d3748;
  border: 0;
  border-radius: 100px;
}

.progress-spd {
  width: 80%;
  height: 100%;
  background-color: #2d3748;
  border: 0;
  border-radius: 100px;
}
